<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dotango</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--/* <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> */-->
    <script
      type="text/javascript"
      th:src="@{/webjars/htmx.org/dist/htmx.min.js}"
    ></script>
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    th:href="@{layout.css}"
  />
  </head>
  <body>
    <div id="background-gradient"></div>
    <div id="nav">
      <a
        hx-get="/"
        hx-trigger="click"
        hx-target="body"
        hx-swap="outerHTML"
        hx-push-url="true"
        href="/"
        id="home"
        >Hero</a
      >
    </div>
    <div layout:fragment="content" />
    ©Subteno 2022
  </body>
</html>
